{% extends 'company/src/html/base.html' %}
{% block content %}
{% load static %}
{% load social_share %}

<!---------------------------------------------script----------------------------------------->
<!---------------------------------------------script----------------------------------------->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.8.1/jspdf.plugin.autotable.min.js" integrity="sha512-8+n4PSpp8TLHbSf28qpjRfu51IuWuJZdemtTC1EKCHsZmWi2O821UEdt6S3l4+cHyUQhU8uiAAUeVI1MUiFATA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!----------------------------------------------script--------------------------------------------->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
<!----------------------------------------------script--------------------------------------------->

<style>
 
</style>


<div class="body-wrapper">
    <div class="container-fluid">


    
        <div class="col-sm-12 col-lg-12 ">
            <div id="item_get_detail_target">
                <div class="row m-2" style="height:20%">
                    <div class="card bg-light bs p-3 mb-3">
                        <div class="card-group w-100 mx-auto d-block"> 
                                
                            <h2 style="color:red; text-align: center;">{{staff.company.company_name}}</h2>
                            <h4 style="text-align: center;">Day Book</h4>
                            
    
                            </div>
                        <div class="bar d-flex justify-content-between">
                          
                            <div class=" card-group">
                                <div class="px-2">
                                    <label style="text-align:left ">From</label><br>
                                    <input name="FromDate" class="inputdate form-control" type="date" id="in1">
                                </div>
                                <div class="px-2">
                                    <label style="text-align:left ">To</label><br>
                                    <input name="ToDate" class="inputdate form-control" type="date" id="in2">
                                </div>
                            </div>
                            <div class=" card-group">
                                <div class="right mt-3">
                                    <a class="btn " title="export to excel"onclick="">
                                        <span><img width="25px"src="{% static 'assets/excel2.png' %}" alt="no img"></span>
                                    </a>
                                    <a class="btn " title="export to PDF"onclick="">
                                        <span><img width="25px"src="{% static 'images/PDF_icon.png' %}" alt="no img"></span>
                                    </a>
                                    <a class="btn  btn_print  " title="PRINT"onclick="()">
                                        <span><img width="25px"src="{% static 'assets/printer1.png' %}" alt="no img"></span>
                                    </a>
                                    <a class="btn  p-0 ps-2" title="share">
                                        <div class="btn-group dropleft">
                                            <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa-solid fa-share"></i>
                                            </a>
                                            <div class="dropdown-menu">
                                                <button type="button" class="btn " data-toggle="modal" data-target="#exampleModal">
                                                    Share Via mail
                                                  </button>
                                                  <button type="button" class="btn " id="sendWhatsApp">
                                                 {% post_to_whatsapp objects_or_url "whatsapp" %}
                                                  </button>
                                            </div>
                                          </div>
                                    </a>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-7" style="width: auto;" >
                        <div class="d-flex">
                            <div class="bg-success  p-3 m-3  mr-3 ml-3 fs-3" style="border-radius: 20px;">
                                <p style="margin-bottom: 5px;"> Paid</p>
                                <p style="font-size:large;"> &#8377; {{paid}}<span id="paidval"></span></p>
                            </div>
                            <div class="text-dark pt-5" >
                                <i class="fa fa-plus border-dark " aria-hidden="true" style="color: black;"></i>
                            </div>
                            <div class="bg-warning  p-3 m-3  mr-3 ml-3  fs-3" style="border-radius:20px;">
                                <p style="margin-bottom: 5px;"> Unpaid</p>
                                <p style="font-size:large;"> &#8377; {{unpaid}}<span id="unpaidval"></span></p>
                            </div>
                            <div class="text-dark pt-5">
                                <i class="fa-solid fa fa-equals" style="color: black;"></i>
                            </div>
                            <div class="bg-secondary p-3 m-3 mr-3 ml-3  fs-3" style="border-radius:20px;">
                                <p style="margin-bottom: 5px;"> Total</p>
                                <p style="font-size:large;"> &#8377;{{total}} <span id="totalval"></span></p>
                            </div>
                        </div>
                    </div>



                </div>
            </div>


            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Send template via mail</h5>
                    
                    </div>
                    <div class="modal-body">
                      <form method="post" action=""    id="email">
                        {% csrf_token %}
                        <div class="form-group">
                            <lable>Mail id</lable>
                            <input type="mail" name='email' required class="form-control" id="message">
                        </div>
                        <div class="form-group">
                            <lable>Message</lable>
                            <input type="text"  name="message" required class="form-control">
                        </div>
                        <button type="submit" class=" btn  btn-primary mx-auto d-block">Share</button>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary "  data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>







                        
        <script>
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = cookies[i].trim();
                        // Check if the cookie name matches the CSRF cookie name
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            function uploadFile() {
                const fileInput = document.getElementById("file-input");
                const file = fileInput.files[0];
                const csrfToken = getCookie('csrftoken')

                const formData = new FormData();
                formData.append("file", file);

                fetch("/import_excel", {
                    method: "POST",
                    headers: { 'X-CSRFToken': csrfToken },
                    body: formData
                })
                window.location.href = '/sale_order';


            }
        </script>

        <div class="row pt-0 m-0">
            <div class="card p-0 bg-light" style="min-height: 60vh;">
                <span style="text-align: end; margin-right:30px; float: right;"> <a class="mr-12" href="{% url 'companyreport' %}" style="text-align: right; font-size:xx-large; color: black;">
                    <i class="fa fa-times mt-2" aria-hidden="true"></i>
                </a></span>
                <div class="row m-0 p-0 pt-3">
                    <div class="col-sm-12 col-lg-3">
                        <p class="tb fw-bolder pt-2">Day Book</p>
                        <div class="pt-2">
                            <div class="position-relative">
                                <div class="position-absolute" style="margin-top:0.4rem;margin-left: 0.5rem;">
                                    <span class="fa fa-search fs-5 text-info"></span>
                                </div>
                            </div>
                            <input id="search_input1" style="padding-inline-start: 2rem;"
                                class="w-100 border-secondary text-dark pt-1 pb-1 rounded" type="text"
                                placeholder=" search here..">
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-7">

                    </div>

                    <div class="col-sm-12 col-lg-2 pt-1">

                        
                    </div>
                    <div class="mt-3" id="content-div">
                        <div class="table-responsive">
                        <table id="myTable"
                            class="table table-bordered table-info table-hover  tb  w-100">
                            <h3 class="text-center mb-7">{{staff.company.company_name}}</h3>
                            <thead>
                               
                                <th class="text-center fs-2">
                                   Name
                                     <div class="dropdown">
                                         <div class=" dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                             <i class="fas fa-filter filter-button"></i>
                                         </div>
                                         <div class="dropdown-menu" style="box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.397);">
                                             <div class="p-2 filter-dropdown">
                                                 <label for="">Equel to:</label>
                                                 <input type="text" class="form-control filter-value border-secondary">
                                                 <button class="btn apply-filter btn-sm btn-secondary">Apply</button>
                                                 <button class="btn clear-filter btn-sm btn-secondary">Clear</button>
                                             </div>
                                         </div>
                                     </div>
                                    
                                     
                                 </th>

                                <th class="text-center fs-2">
                                    Ref:no
                                    <div class="dropdown export-hide">
                                        <div class=" dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="fas fa-filter filter-button"></i>
                                        </div>
                                        <div class="dropdown-menu" style="box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.397);">
                                            <div class="p-2 filter-dropdown">
                                                <label for="">Equel to:</label>
                                                <input type="text" class="form-control filter-value border-secondary">
                                                <button class="btn apply-filter btn-sm btn-secondary">Apply</button>
                                                <button class="btn clear-filter btn-sm btn-secondary">Clear</button>
                                            </div>
                                        </div>
                                    </div>
                                   
                                </th>
                                <th class="text-center fs-2">
                                    Type
                                    <div class="dropdown export-hide">
                                        <div class=" dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="fas fa-filter filter-button"></i>
                                        </div>
                                        <div class="dropdown-menu" style="box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.397);">
                                            <div class="p-2 filter-dropdown">
                                                <label for="">Equel to:</label>
                                                <input type="text" class="form-control filter-value border-secondary">
                                                <button class="btn apply-filter btn-sm btn-secondary">Apply</button>
                                                <button class="btn clear-filter btn-sm btn-secondary">Clear</button>
                                            </div>
                                        </div>
                                    </div>
                                   
                                </th>
                                
                               
                               
                                <th class="text-center fs-2">TOTAL
                                    <div class="ropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"
                                        aria-expanded="false"><i class="fas fa-filter filter-button"></i></div>

                                    <div class="dropdown-menu "
                                        style="box-shadow:  2px 2px 10px 3px rgba(0, 0, 0, 0.397);">

                                        <div class="p-2 filter-dropdown">
                                            <label for="">Equel to:</label>

                                            <input type="text" class="form-control filter-value border-secondary">
                                            
                                                <button class="btn apply-filter btn-sm btn-secondary">Apply</button>
                                                <button
                                                    class="btn clear-filter btn-sm  btn-secondary">Clear</button>
                                            

                                        </div>

                                    </div>
                                </th>
                                <th class="text-center fs-2">Money in
                                    <div class="ropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"
                                    aria-expanded="false"><i class="fas fa-filter filter-button"></i></div>

                                <div class="dropdown-menu "
                                    style="box-shadow:  2px 2px 10px 3px rgba(0, 0, 0, 0.397);">

                                    <div class="p-2 filter-dropdown">
                                        <label for="">Equel to:</label>

                                        <input type="text" class="form-control filter-value border-secondary">
                                        
                                            <button class="btn apply-filter btn-sm btn-secondary">Apply</button>
                                            <button
                                                class="btn clear-filter btn-sm  btn-secondary">Clear</button>
                                        

                                    </div>

                                </div>
                                    
                                </th>
                               

                                <th class="text-center fs-2">Money out<div class="ropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"
                                    aria-expanded="false"><i class="fas fa-filter filter-button"></i></div>

                                <div class="dropdown-menu "
                                    style="box-shadow:  2px 2px 10px 3px rgba(0, 0, 0, 0.397);">

                                    <div class="p-2 filter-dropdown">
                                        <label for="">Equel to:</label>

                                        <input type="text" class="form-control filter-value border-secondary">
                                        
                                            <button class="btn apply-filter btn-sm btn-secondary">Apply</button>
                                            <button
                                                class="btn clear-filter btn-sm  btn-secondary">Clear</button>
                                        

                                    </div>

                                </div>
                                    
                                </th>
                                
                                
                            </thead>
                            <tbody>
                                
                                
                            </tbody>
                        </table>


                    </div>
                    <div id="content" style="display:none;" >
                        <h2 style="color:red; text-align: center;">{{staff.company.company_name}}</h2>
                        <h4 style="text-align: center;">Day Book</h4>
                        <table class="table table-bordered table-info table-hover  tb  w-100" id="myTable1" >
                           
                            <thead>
                                <th>PARTY NAME</th>
                                <th>Ref.No</th>
                                <th>Type</th>
                                <th>TOTAL</th>
                                <th>Money In</th>
                                <th>Money Out</th>

                            </thead>
                            <tbody>
                                
                                    
                            </tbody>
                            
                        </table>
                    </div>
                    </div>
                </div>
            </div>
        </div>
       
       
             </div>
    </div>

  
</div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    {% for msg in messages %}
    swal({
    title: "{{msg}}",
    text: "{{msg.tags}}",
    icon: "{{msg.tags}}",
  });
    {% endfor %}
   </script>
<script>
    $(document).ready(function () {
        $('.apply-filter').on('click', function () {
            const $table = $('#myTable');
            const columnIndex = $(this).closest('th').index();
            const filterValue = $(this).siblings('.filter-value').val().trim();
            console.log("=============================+++++++++++++++");
            console.log(filterValue)

            $table.find('tbody tr').hide(); // Hide all rows
            console.log("hide");
            applyEqualToFilter($table, columnIndex, filterValue);

            // Close the filter dropdown
            // $(this).closest('.filter-dropdown').hide();
        });

        function applyEqualToFilter($table, columnIndex, filterValue) {
            console.log("filter");
            $table.find(`tbody tr td:nth-child(${columnIndex + 1})`).each(function () {
                const cellValue = $(this).text().trim();
                if (cellValue === filterValue) {
                    $(this).parent().show();
                    console.log(this)
                }
            });
        }

        $('.clear-filter').on('click', function () {
            $('#myTable tbody tr').show();
            $(this).siblings('.filter-value').val('');

            // Close the filter dropdown
            // $(this).closest('.filter-dropdown').hide();
        });
    });
</script>

<script>
// jQuery(document).ready(function ($) {
//     $(".clickable-row").click(function () {
//         window.location = $(this).data("href");
//     });
// });
jQuery(document).ready(function ($) {
    $("#search_input1").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        $("#myTable tbody tr").filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
        });
    });
    $(document).on('click', '.btn_print', function (event) {
        var printContents = document.getElementById("content").innerHTML;
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;

        window.print();

        document.body.innerHTML = originalContents;

        $('#myTable1').addClass('table-hover');

    });
});

var table = document.getElementById("myTable");

var fromDate;
$('#in1').on('change', function () {
    fromDate = $(this).val();
    $('#in2').prop('min', function () {
        return fromDate
    });
    var startDate = new Date(document.getElementById("in1").value);
    var endDate = new Date(document.getElementById("in2").value);
    var rows = table.getElementsByTagName("tr")

    console.log(startDate);
    for (var i = 1; i < rows.length; i++) {
        var row = rows[i];
        var dateCell = row.cells[3];
        var rowDate = new Date(dateCell.textContent);

        if ((rowDate >= startDate) || (rowDate <= endDate && rowDate >= startDate)) {
            row.style.display = "";

        } else {
            row.style.display = "none";

        }
    }



    // var tdate = new Date(fromDate)
    // var options = { year: 'numeric', month: 'long', day: 'numeric' };
    // document.getElementById("d1").innerHTML = tdate.toLocaleDateString(undefined, options);

});
var toDate;
$('#in2').on('change', function () {
    toDate = $(this).val();
    $('#in1').prop('max', function () {
        return toDate
    })
    var startDate = new Date(document.getElementById("in1").value);
    var endDate = new Date(document.getElementById("in2").value);
    var rows = table.getElementsByTagName("tr");

    for (var i = 1; i < rows.length; i++) {
        var row = rows[i];
        var dateCell = row.cells[3];
        var rowDate = new Date(dateCell.textContent);
        if (rowDate <= endDate && rowDate >= startDate) {
            row.style.display = "";

        } else {
            row.style.display = "none";

        }
    }
    // var tdate = new Date(toDate)
    // var options = { year: 'numeric', month: 'long', day: 'numeric' };
    // document.getElementById("d2").innerHTML = "  To  " + tdate.toLocaleDateString(undefined, options);

})
function exportAsExcel() {
    console.log("myTable1");
    $('in1').prop
    const table = document.getElementById('myTable1'); // Replace 'myTable' with your table's ID
    const wb = XLSX.utils.table_to_book(table);

    XLSX.writeFile(wb, 'purchasereport.xlsx');
}
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.8.1/jspdf.plugin.autotable.min.js" integrity="sha512-8+n4PSpp8TLHbSf28qpjRfu51IuWuJZdemtTC1EKCHsZmWi2O821UEdt6S3l4+cHyUQhU8uiAAUeVI1MUiFATA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    function exportAsPDF() {
    console.log("myTable1");

    // Use the correct selector to get the element by ID
    const table = document.getElementById('myTable1'); // Replace 'myTable1' with your table's ID

    // Check if the table exists
    if (table) {
        // Create a new jsPDF instance
        const { jsPDF } = window.jspdf;
        const pdf = new jsPDF();

        // Convert the table to PDF and save it
        pdf.autoTable({ html: table });
        pdf.save('purchasereport.pdf');
    } else {
        console.error("Table with ID 'myTable1' not found");
    }
}


</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}