{% extends 'company/src/html/base.html' %}
{% block content %}
{% load social_share %}

{% load static %}

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://unpkg.com/htmx.org@1.9.6"
    integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.0/xlsx.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.min.js"></script>

<!-- Include html2pdf library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<style>
    .card-body {
        box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.397);
        border-radius: 1vh;
    }


    #tab_logic {
        margin-left: 10px;
        width: 98%;
    }

    #tab_logic thead th {
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;
        background-color: rgba(0, 195, 255, 0.205);
    }

    #tab_logic tbody td {
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;
    }

    #toPayRadio {
        accent-color: red;
        
    }

    /* 
    #toReceiveRadio {
        accent-color: green;
    } */

    .addnewrow:hover {
        background-color: violet;
    }

    #modal_closing {
        height: 5vh;
    }

    #customer {
        background-color: white;
        color: black;
    }

    .selectize-input {
        height: 5vh;
        border-color: #54B4D3;
        border-radius: 5px;
    }

    .option:hover {
        background-color: #3B71CA;
        color: white;
    }




    /* Modal Styles */
    .modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .modal-dialog {
        margin: 5% auto;
    }

    .modal-content {
        background: rgb(32, 35, 37);
        border-radius: 20px;
    }

    .modal-header {
        background: rgb(32, 35, 37);
    }

    .modal-header h5 {
        margin: 1.5rem;
        text-transform: uppercase;
        color: #fff;
    }

    .modal-body {
        background: rgb(32, 35, 37);
    }

    .card {
        padding: 1rem;
        margin: 1rem;
    }

    /* Form Styles */
    #share_to_email_form {
        width: 100%;
    }

    .form-group {
        margin-bottom: 1rem;
    }

    label {
        color: #0e0d0d;
    }

    input[type="date"],
    textarea {
        width: 100%;
        padding: 0.5rem;
        margin: 0.5rem 0;
        box-sizing: border-box;
    }

    textarea {
        resize: vertical;
    }

    /* Footer Styles */
    .modal-footer {
        border-top: 1px solid #ffff;
        display: flex;
        justify-content: center;
    }

    .submitShareEmailBtn {
        border: none;
        background-color: transparent;
        color: #ccc;
        cursor: pointer;
        font-size: 1rem;
        padding: 0.5rem 1rem;
        border-radius: 1rem;
        border: 2px solid #ccc;
    }

    .submitShareEmailBtn:hover {
        color: #fff;
        border-color: #fff;
    }
    .table-data thead th
    {
        font-size: 12px;
    }
    .table-data tbody td
    {
        font-size: 12px;
    }
    



    @media print{
        body{
            visibility: hidden !important; /* hide everything in body when in print mode*/
        }
        .printContainer {
            visibility: visible !important; /* Override the rule above to only show the printables*/
            position: absolute;
            z-index: 99999;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            font-size: large;
        } 
    }
</style>

<div class="body-wrapper  bg-light">
    <div class="container-fluid">
        <div class="row p-0 m-0">
       
            <div class="col-sm-12 col-lg-12 coll-md-12 p-0 m-0">
                <div class="text-end">
                    <a href="{% url 'companyreport' %}" class="close-button"><button title="close" class="btn btn-close"
                        id="closeButton"></button>
                    </a>
                </div>
               
                <div class="d-flex">
                    <div class="form-group px-2">
                        <label style="text-align:left ">From</label><br>
                        <input name="FromDate" class="inputdate form-control" id="fdate" type="date">
                    </div> 
                    <div class="form-group px-2">
                        <label style="text-align:left ">To</label><br>
                        <input name="ToDate" class="inputdate form-control" id="edate" type="date">
                    </div>

                </div>

                <div class="d-flex justify-content-between">
                    <div class="dropdown left px-2 mt-3">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="fa fa-filter"></i> Filter By
                        </button>
    
                        <ul class="dropdown-menu" id="filterDropdown">
                            <li data-filter="0"><a class="dropdown-item">All</a></li>
                            <li data-filter="1"><a class="dropdown-item">With GSTIN</a></li>
                            <li data-filter="2"><a class="dropdown-item">Without GSTIN</a></li>
                        </ul>
                       
                    </div>

                    <div class="option_btn d-flex align-items-center">
                        <button class="btn btn-sm btn_print" type="button"
                            title="PRINT"><span><img width="22px" src="{% static 'assets/printer1.png' %}"
                                    alt="PRINT"></span></button>
                        <button class="btn btn-sm" type="button" onclick="exportToExcel()" title="EXPORT"><span><img
                                    width="22px" src="{% static 'assets/excel2.png' %}" alt="EXPORT"></span></button>
                        <button class="btn btn-sm" type="button" onclick="exportToPDF()" title="PDF"><span><img
                                    width="18px" src="{% static 'images/pdfdownload.png' %}" alt="DOWNLOAD"></span></button>
    
                        <a class="text-dark" data-toggle="dropdown">
                            <button class="btn  " title="Share"><i class="fas fa-share"></i></button>
                        </a>
                        <div class="dropdown-menu ">
                            <a class="dropdown-item" data-target="#shareBillEmail"
                                data-toggle="modal">GMAIL</a>
                            <a class="dropdown-item" href="javascript:void(0);"
                                onclick="shareOnWhatsApp()">WhatsApp</a>
                        </div>
    
    
                       
                    </div>
                </div>


        
         
                <div id="gstr1">
                    <div class="row clearfix">
                        <div class="col-md-12 col-lg-12 col-sm-12">
                            <div id="pdfdwnld">
                                <h1 class="h1 text-center pt-3 pb-2"
                                style="text-transform:uppercase; font-family: 'Times New Roman', Times, serif;padding-left: 5px;">
                                <b>{{company.company_name}}</b>
                                </h1>
                                <div class="text-center mb-2">
                                    <H4 style="font-weight: bolder;">GSTR 2 REPORT</H4>
                    
                                </div>

                                <div id="print_export_section">
                                   
                                        <ul class="nav nav-tabs row mx-3">
                                            <li class="col-sm-6 text-center" id="sale">
                                                <a href="#1" data-toggle="tab">Bill details</a>
                                            </li>
                                          
                                        </ul>
                                        <div class="m-0 p-0 pt-3 " id="salediv">

                                            <div class="table-responsive">
                                                <table id="purchaseTable" 
                                                    class="table table-bordered table-info table-striped tb w-100 "
                                                    style="text-align: center;">
                                                  
                                                    <thead>

                                                        <tr class="text-center"
                                                            style="background-color: rgba(255, 255, 255, 0.137);">

                                                            <th colspan="5" style="text-align: center; font-size: 12px;">Invoice
                                                                Details</th>
                                                            <th rowspan="2" style="text-align: center; font-size: 12px;">Tax Rate
                                                            </th>
                                                            <th rowspan="2" style="text-align: center; font-size: 12px;">Cess Rate
                                                            </th>
                                                            <th rowspan="2" style="text-align: center; font-size: 12px;">Taxable
                                                                Value</th>
                                                            <th colspan="4" style="text-align: center; font-size: 12px;">Amount</th>
                                                            <th rowspan="2" style="text-align: center; font-size: 12px;">Place Of
                                                                Supply(Name Of State)</th>
                                                        </tr>
                                                        <tr class="text-center"
                                                            style="background-color: rgba(255, 255, 255, 0.137);">
                                                            <th style="text-align: center; font-size: 12px;">GSTIN/UIN</th>
                                                            <th style="text-align: center; font-size: 12px;">Party Name</th>
                                                            <th style="text-align: center; font-size: 12px;">Invoice No</th>
                                                            <th style="text-align: center; font-size: 12px;">Date</th>
                                                            <th style="text-align: center;">Value</th>

                                                            <th style="text-align: center; font-size: 12px;">Integrated Tax</th>
                                                            <th style="text-align: center;font-size: 12px;">Central Tax</th>
                                                            <th style="text-align: center;font-size: 12px;">State/UT Tax</th>
                                                            <th style="text-align: center;font-size: 12px;">Cess</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="items-table-body">

                                                        {% for i in purchasebill %}
                                                        <tr class="text-center">
                                                            <td style="font-size: 11px;">{{i.party.gst_no}}</td>
                                                            <td style="font-size: 11px;">{{i.party.party_name}}</td>
                                                            <td style="font-size: 11px;">{{i.billno}}</td>
                                                            <td style="font-size: 11px;">{{i.billdate}}</td>
                                                            <td style="font-size: 11px;" >{{i.grandtotal}}</td>
                                                            <td style="font-size: 11px;">{{i.taxamount}}</td>
                                                            <td style="font-size: 11px;">0</td>
                                                            <td style="font-size: 11px;">{{i.subtotal}}</td>
                                                            <td style="font-size: 11px;">{{i.igst}}</td>
                                                            <td style="font-size: 11px;">{{i.cgst}}</td>
                                                            <td style="font-size: 11px;">{{i.sgst}}</td>
                                                            <td style="font-size: 11px;">0</td>
                                                            <td style="font-size: 11px;">{{i.supplyplace}}</td>

                                                        </tr>
                                                        {% endfor %}
                                                        <!-- {% for j in ret_invoices %}
                                                        <tr class="text-center">
                                                            <td>{{j.gstin}}</td>
                                                            <td>{{j.customer}}</td>
                                                            <td>{{j.invoice_number}}</td>
                                                            <td>{{j.invoice_date}}</td>
                                                            <td>{{j.total_amount}}</td>
                                                            <td>0</td>
                                                            <td>0</td>
                                                            <td>{{j.total_amount}}</td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td>0</td>
                                                            <td>{{j.place_of_supply}}</td>
                                                        </tr>
                                                        {% endfor %} -->
                                                        <!-- {% for i in rec_invoices %}
                                                        <tr class="text-center">
                                                            <td>{{i.gstin}}</td>
                                                            <td>{{i.customername}}</td>
                                                            <td>{{i.recinvoiceno}}</td>
                                                            <td>{{i.startdate}}</td>
                                                            <td>{{i.grandtotal}}</td>
                                                            <td>{{i.IGST}}</td>
                                                            <td>0</td>
                                                            <td>{{i.subtotal}}</td>
                                                            <td>{{i.IGST}}</td>
                                                            <td>{{i.CGST}}</td>
                                                            <td>{{i.SGST}}</td>
                                                            <td>0</td>
                                                            <td>{{i.placosupply}}</td>
                            
                                                        </tr>
                                                        {% endfor %} -->



                                                    </tbody>

                                                </table>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="shareBillEmail">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="background: rgb(32, 35, 37);border-radius: 20px;">
            <div class="modal-header" style="background: rgb(32, 35, 37);">
                <h5 class="mt-1 text-uppercase" id="shareBillEmailLabel">Share Gstr2 Via Email</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" style="background: rgb(32, 35, 37);">
                <div class="card p-2 m-1">

                    <form action="{% url 'shareGSTR2purchaseBillToEmail' %}" method="post" class="needs-validation" id="share_to_email_form" autocomplete="off">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="date" name="fdate" id="emailfdate" hidden>

                            <input type="date" name="edate" id="emailedate" hidden><br>
                            <input type="text" id="filtervalueid" value="0" name="filterValue" hidden>
                            <label for="emailIds">Email IDs</label>
                            <textarea class="form-control text-dark" name="email_ids" id="emailIds" rows="5"
                                placeholder="Multiple emails can be added by separating with a comma(,)."
                                required></textarea>
                        </div>
                        <div class="form-group mt-2">
                            <label for="item_unitname">Message(optional)</label>
                            <textarea name="email_message" id="email_message" class="text-dark form-control" cols=""
                                rows="4" placeholder="This message will be sent along with Bill details."></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer d-flex justify-content-center" style="border-top: 1px solid #ffff;">
                    <input type="submit" id="share_with_email"
                        class="submitShareEmailBtn rounded-pill text-grey w-50 my-4 mx-3" value="SEND MAIL">
                </div>
            </div>

        </div>
    </div>
</div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.x.x.min.js"></script>


<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
    {% for message in messages %}

    <script>
      let msg = '{{message}}';
      alert(msg);
    </script>
    {% endfor %}

<script>


    


    function exportToExcel(purchaseTable) {
        const table = document.getElementById('purchaseTable');
        const wb = XLSX.utils.table_to_book(table, { sheet: "Sheet1" });
        XLSX.writeFile(wb, "gstr2.xlsx");
    }

    // function printSection(pdfdwnld) {
    //     var printContents = document.getElementById('pdfdwnld').innerHTML;
    //     var originalContents = document.body.innerHTML;

    //     document.body.innerHTML = printContents;

    //     window.print();

    //     document.body.innerHTML = originalContents;

    //     setTimeout(function () {
    //         window.location.href = "{% url 'gstrr2' %}";
    //     }, 2000);
    // }


    $(document).on('click', '.btn_print', function (event) {
    $('#purchaseTable').removeClass('table-hover');
    var printContents = $("#pdfdwnld").clone(); // Clone the content-div to avoid modifying the original content
    printContents.find('.hideon-print').remove(); // Remove columns by class name

    var $printerDiv = $('<div class="printContainer" id=printContainer></div>');
    $printerDiv.html(printContents.html());
    $('body').append($printerDiv).addClass("printingContent");
    var h1Element = document.createElement("h1");
    var head = document.getElementById("printContainer");
    head.insertBefore(h1Element, head.firstChild);
    window.print();
    $printerDiv.remove();
    $('body').removeClass("printingContent");

    });
    
  

            function exportToPDF() {
                var content = document.getElementById('pdfdwnld');

                var opt = {
                    margin: 0.1,
                    filename: 'GSTR2.pdf',
                    image: { type: 'jpeg', quality: 0.98 },
                    html2canvas: { scale: 2 },
                    jsPDF: { unit: 'in', format: 'a4', orientation: 'landscape' }
                };

                html2pdf().set(opt).from(content).save();
            }


    //         function exportToPDF() {
    //     var content = document.getElementById('pdfdwnld');
    //     var tbl = document.getElementById('purchaseTable');
    //     tbl.classList.add('table-data');
    
    //     var opt = {
    //         margin: 0.1,
    //         filename: 'GSTR2.pdf',
    //         image: { type: 'jpeg', quality: 0.98 },
    //         html2canvas: { scale: 2 },
    //         jsPDF: { unit: 'in', format: 'A4', orientation: 'landscape' } // Corrected 'orientation'
    //     };
    
    //     html2pdf().set
    // }




    function toggleDropdown() {
        var dropdownContent = document.getElementById("myDropdown");
        dropdownContent.style.display = (dropdownContent.style.display === "block") ? "none" : "block";
    }
    // function exportToExcel() {
    //     const table1 = document.getElementById('myTable');
    //     const table2 = document.getElementById('myTable2');

    //     const wb = XLSX.utils.book_new();

    //     const ws1 = XLSX.utils.table_to_sheet(table1);
    //     const ws2 = XLSX.utils.table_to_sheet(table2);

    //     XLSX.utils.book_append_sheet(wb, ws1, 'Sale'); // Add the first sheet to the workbook
    //     XLSX.utils.book_append_sheet(wb, ws2, 'Sale return'); // Add the second sheet to the workbook

    //     XLSX.writeFile(wb, 'gstr1.xlsx');
    // }
</script>
<script>
    var table = document.getElementById("myTable");

    var fromDate;
    $('#fdate').on('change', function () {
        fromDate = $(this).val();
        $('#edate').prop('min', function () {
            return fromDate
        })
        var startDate = new Date(document.getElementById("fdate").value);
        // var endDate = new Date(document.getElementById("in2").value);
        var rows = table.getElementsByTagName("tr");
console.log('date1',startDate)
        for (var i = 1; i <= rows.length; i++) {
            var row = rows[i];
            var dateCell = row.cells[3];
            console.log('date3', dateCell)

            var rowDate = new Date(dateCell.textContent);
            console.log('date2',rowDate)

            if (rowDate >= startDate) {
                row.style.display = "";
            } else {
                row.style.display = "none";
            }
        }
        var tdate = new Date(fromDate)
        var options = { year: 'numeric', month: 'long', day: 'numeric' };
        document.getElementById("d1").innerHTML = tdate.toLocaleDateString(undefined, options);
        
    })
    var toDate;
    $('#edate').on('change', function () {
        toDate = $(this).val();
        $('#fdate').prop('max', function () {
            return toDate
        })
        var startDate = new Date(document.getElementById("fdate").value);
        var endDate = new Date(document.getElementById("edate").value);
        var rows = table.getElementsByTagName("tr");
        for (var i = 1; i <= rows.length; i++) {
            var row = rows[i];
            var dateCell = row.cells[3];
            var rowDate = new Date(dateCell.textContent);

            if (rowDate <= endDate && rowDate >= startDate) {
                row.style.display = "";
                console.log("display");
            } else {
                row.style.display = "none";

            }
        }
        var tdate = new Date(toDate)
        var options = { year: 'numeric', month: 'long', day: 'numeric' };
        document.getElementById("d2").innerHTML = "  To  " + tdate.toLocaleDateString(undefined, options);
    })


</script>



<!-- <script>
      function filterTable(filterValue) {
            // $(document).ready(function () {
            //     $('ul.nav-tabs a[data-toggle="tab"]').on('shown.bs.tab', function (event) {
            //         // Get the ID of the activated tab
            //         activatedTabId = $(event.target).attr('href').substring(1);
            //         console.log('Activated tab ID:', activatedTabId);
            //     });
            // });
            // var id = activatedTabId;
            const table = document.getElementById('myTable');
            const rows = table.getElementsByTagName('tr');

            var startDate = new Date(document.getElementById("in1").value);
            console.log('date',startDate)
            var endDate = new Date(document.getElementById("in2").value);
            if (filterValue === 'All') {


                for (let i = 1; i < rows.length; i++) {
                    const row = rows[i];

                    var dateCell = row.cells[3];

                    // Assuming that the date you want to compare is in the first cell of each row
                    // Change this according to your table structure
                    var rowDate = new Date(dateCell.textContent);
                    console.log(rowDate);

                    if (rowDate <= endDate && rowDate >= startDate) {
                        row.style.display = 'table-row';
                    } else {
                        // row.style.display = 'table-row';

                        row.style.display = 'none';
                    }
                }
            }
            else {
                for (let i = 1; i < rows.length; i++) {
                    const row = rows[i];
                    const cells = row.getElementsByTagName('td');
                    const gstinCell = cells[0];
                    var dateCell = row.cells[3];
                    var rowDate = new Date(dateCell.textContent);
                    if ((filterValue === 'With' && gstinCell.textContent !== '') || (filterValue === 'Without' && gstinCell.textContent === '')) {

                        if (rowDate <= endDate && rowDate >= startDate) {
                            row.style.display = 'table-row';
                        } else {
                            // row.style.display = 'table-row';

                            row.style.display = 'none';
                        }
                    } else {

                        row.style.display = 'none';
                    }
                }
            }
        }
</script> -->




<script>
  
    $(document).ready(function () {
      $('#share_with_email').on('click', function () {
        var emailsInput = document.getElementById('emailIds');
        var emailsString = emailsInput.value.trim();
  
        var emails = emailsString.split(',').map(function (email) {
          return email.trim();
        });
  
        var emailRegex = /^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/;
  
        var invalidEmails = []
        if (emailsString == "") {
          alert('Enter valid email addresses..')
        }
        else {

          for (var i = 0; i < emails.length; i++) {
            var currentEmail = emails[i];
  
            if (currentEmail != "" && !emailRegex.test(currentEmail)) {
              console.log(currentEmail + ' is invalid!');
              invalidEmails.push(currentEmail)
            }
          }
  
          if (invalidEmails.length > 0) {
            alert('Invalid emails..Please check!\n' + invalidEmails)
            // alert(invalidEmails)
          } else {
            $('#share_to_email_form').submit();
          }
        }
      })
    });
  
  
    function shareOnWhatsApp() {
      var url = window.location.href;
      var text = url;
      text = encodeURIComponent(text);
      var whatsappUrl = "whatsapp://send?text=" + text;
      window.location.href = whatsappUrl;
    }

    // $(document).ready(function() {
    //         // Add click event listener to the close button
    //         $('#closeButton').click(function() {
    //             // Navigate back to the previous page
    //             window.history.back();
    //         });
    //     });
</script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    $(document).ready(function () {
      $('#fdate, #edate').change(function () {
        $('#emailfdate').val($('#fdate').val());
        $('#emailedate').val($('#edate').val());
        updatePurchaseData();
       
      });
  
      function updatePurchaseData() {
        var fdate = $('#fdate').val();
        var edate = $('#edate').val();
        // Check if both fdate and edate are present before making the AJAX request
        if (fdate && edate) {
          $.ajax({
            url: "{% url 'purchasefilterbyDate' %}",
            data: { fdate: fdate, edate: edate },
            type: 'GET',
            success: function (data) {
               
                var dataArray = data.data_list;  // Access the array within the 'data_list' property
                // Handle the response from Django if needed
                console.log('data received', dataArray);
                displayDataInTable(dataArray);
            },
            error: function (error) {
              console.error(error);
            }
          });
        } else {
          // Handle the case where either fdate or edate is not present (optional)
          console.log('Both fdate and edate must be present');
        }
      }
    });
      // Function to display data in the HTML table
      
      
  
  
    $(document).ready(function () {
      // Event handler for dropdown items
      $('#filterDropdown li').click(function () {
        var filterValue = $(this).data('filter');
        $('#filtervalueid').val(filterValue);
        updatePurchaseData(filterValue);
      });
  
      function updatePurchaseData(filterValue) {
        var fdate = $('#fdate').val();
        var edate = $('#edate').val();
  
        // Make an AJAX request to your Django views using jQuery
        // Replace 'your_django_url' with the actual URL of your Django view
        $.ajax({
          url: "{% url 'purchasefilter' %}",
          data: { filter: filterValue, fdate: fdate, edate: edate },
          type: 'GET',
          success: function (data) {
            var dataArray = data.data_list;  // Access the array within the 'data_list' property
            // Handle the response from Django if needed
            console.log('data received', dataArray);
            displayDataInTable(dataArray);
            },
          error: function (error) {
            console.error(error);
          }
        });
      }
    });


    function displayDataInTable(data) {
              var table = $('#purchaseTable');
              table.empty();  // Clear existing content
              $('#purchaseTable').css('width', '100%');
              // Add table headers
              var thead = $('<thead></thead>').appendTo(table);
              thead.append('<tr class="text-center" style="background-color: rgba(255, 255, 255, 0.137);">' +
                  '<th colspan="5" style="text-align: center; font-size: 12px;">Invoice Details</th>' +
                  '<th rowspan="2" style="text-align: center; font-size: 12px;">Tax Rate</th>' +
                  '<th rowspan="2" style="text-align: center; font-size: 12px;">Cess Rate</th>' +
                  '<th rowspan="2" style="text-align: center; font-size: 12px;">Taxable Value</th>' +
                  '<th colspan="4" style="text-align: center; font-size: 12px;">Amount</th>' +
                  '<th rowspan="2" style="text-align: center; font-size: 12px;">Place Of Supply(Name Of State)</th>' +
                  '</tr>' +
                  '<tr class="text-center" style="background-color: rgba(255, 255, 255, 0.137);">' +
                  '<th style="text-align: center; font-size: 12px;">GSTIN/UIN</th>' +
                  '<th style="text-align: center; font-size: 12px;">Party Name</th>' +
                  '<th style="text-align: center; font-size: 12px;">Invoice No</th>' +
                  '<th style="text-align: center; font-size: 12px;">Date</th>' +
                  '<th style="text-align: center; font-size: 12px;">Value</th>' +
                  '<th style="text-align: center; font-size: 12px;">Integrated Tax</th>' +
                  '<th style="text-align: center; font-size: 12px;">Central Tax</th>' +
                  '<th style="text-align: center; font-size: 12px;">State/UT Tax</th>' +
                  '<th style="text-align: center; font-size: 12px;">Cess</th>' +
                  '</tr>');
  
              // Add table body 
              var tbody = $('<tbody id="items-table-body"></tbody>').appendTo(table);
              
              // Add table rows with data
              for (var i = 0; i <data.length; i++) {
               
                var row = $('<tr class="text-center"></tr>');
                var originalDate = new Date(data[i].billdate);

// Convert the date to the desired format: "MMM-DD-YYYY"
                var formattedDate = originalDate.toLocaleString('en-us', { month: 'short', day: '2-digit', year: 'numeric' });
                row.append('<td style="font-size: 11px;">'+ data[i].party_gstNo  + '</td>');
                row.append('<td style="font-size: 11px;">' + data[i].party_partyName + '</td>');
                row.append('<td style="font-size: 11px;">' + data[i].billno + '</td>');
                // row.append('<td style="font-size: 11px;">' + data[i].billdate + '</td>');
                row.append('<td style="font-size: 11px;">' + formattedDate + '</td>');
                row.append('<td style="font-size: 11px;">' + data[i].grandtotal + '</td>');
                row.append('<td style="font-size: 11px;">' + data[i].taxamount + '</td>');
                row.append('<td style="font-size: 11px;">0</td>');  // Assuming Cess Rate is not available in data
                row.append('<td style="font-size: 11px;">' + data[i].subtotal + '</td>');
                row.append('<td style="font-size: 11px;">' + data[i].igst + '</td>');
                row.append('<td style="font-size: 11px;">' + data[i].cgst + '</td>');
                row.append('<td style="font-size: 11px;">' + data[i].sgst + '</td>');
                row.append('<td style="font-size: 11px;">0</td>');  // Assuming Cess is not available in data
                row.append('<td style="font-size: 11px;">' + data[i].supplyplace + '</td>');
                tbody.append(row);
            }
          }
    
</script>


{% endblock %}